<div class="error">
	<h3>Error</h3>
	<p>
		{{#if errorMessage}}
			{{errorMessage}}
		{{else}}
			We are sorry, something has gone wrong.
			<br />
			{{message}}
			<pre>
				{{stack}}
			</pre>
		{{/if}}
	</p>
</div>