<div id="header" {{action 'goToHome'}}>
	<h1 id='title'>Ember & Beer</h2>
	<p class="description">Browse breweries and find your favorite beer… or not. Created by Sam Clopton, and released under the MIT license.</p>
</div>
<div id="main">
	{{outlet}}
</div>
